HalloWCF/HalloWCF.Client/Connected Services/ServiceReference1/HalloWCF.Host.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HalloWCF.Host" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HalloWCF.Host" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKuchen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Kuchen" nillable="true" type="tns:Kuchen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKuchen" nillable="true" type="tns:ArrayOfKuchen" />
  <xs:complexType name="Kuchen">
    <xs:sequence>
      <xs:element minOccurs="0" name="Druchmesser" type="xs:int" />
      <xs:element minOccurs="0" name="MyProperty" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kuchen" nillable="true" type="tns:Kuchen" />
</xs:schema>